.overlay-spinner.enter {
    animation: fade-in 400ms cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

.overlay-spinner.leave {
    animation: fade-out 200ms cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
