.tab-content {
    padding: 16px 2px;
}

h4 {
    margin: 0px 0px 8px;

    &:not(:first-child) {
        margin-top: 8px;
    }
}

mat-divider {
    margin: 16px 0px;
}

.general-container {
    display: grid;
    gap: 12px;
    align-items: center;
    margin-bottom: 12px;

    @media (min-width: 400px) {
        grid-template-columns: max-content auto;
    }

    mat-button-toggle-group {
        max-width: fit-content;
    }

    label {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.87);
    }
}

.layout-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    margin-top: 12px;
}
