@if (isBleAvailable) {
    <button
        matTooltipShowDelay="1000"
        [matTooltip]="
            ergConnectionStatus().deviceName ??
            (ergConnectionStatus().status === 'searching' ? 'Searching' : 'Connect ESPRM')
        "
        (click)="ergoMonitorDiscovery()"
        mat-icon-button
    >
        <mat-icon [class]="ergConnectionStatus().status === 'connecting' ? 'blink' : ''">{{
            BleConnectionStatusIcons[ergConnectionStatus().status]
        }}</mat-icon>
    </button>
}
