<mat-toolbar>
    <div class="flex-row items-center justify-center">
        <div class="flex-row justify-center">
            <mat-icon class="battery-level" matTooltipShowDelay="1000" [matTooltip]="batteryLevel() + '%'">{{
                batteryLevel() | batteryLevel
            }}</mat-icon>
        </div>
        <button matTooltipShowDelay="1000" matTooltip="Logbook" (click)="openLogbook()" mat-icon-button>
            <mat-icon>sports_score</mat-icon>
        </button>
        <app-open-settings-button></app-open-settings-button>
        <button matTooltipShowDelay="1000" matTooltip="Reset" (click)="reset()" mat-icon-button>
            <mat-icon>laps</mat-icon>
        </button>
        <app-connect-heart-rate-button></app-connect-heart-rate-button>
        <app-connect-erg-button></app-connect-erg-button>
        <span>{{
            ergConnectionStatus().status !== "connected"
                ? ""
                : BleServiceNames[BleServiceFlag[settings().bleServiceFlag]]
        }}</span>
    </div>
    <span class="time-of-day">
        {{ timeOfDay() | date: "HH:mm" }}
    </span>
    <span class="title">ESP Rowing Monitor</span>
</mat-toolbar>
