<mat-toolbar>
    <div class="flex-row items-center justify-center">
        <div class="flex-row justify-center">
            <mat-icon class="battery-level" matTooltipShowDelay="1000" [matTooltip]="batteryLevel() + '%'">{{
                batteryLevel() | batteryLevel
            }}</mat-icon>
        </div>
        <button matTooltipShowDelay="1000" matTooltip="Logbook" (click)="openLogbook()" mat-icon-button>
            <mat-icon>sports_score</mat-icon>
        </button>
        <button
            *ngIf="isBleAvailable"
            matTooltipShowDelay="1000"
            matTooltip="Settings"
            (click)="openSettings()"
            mat-icon-button
        >
            <mat-icon>settings</mat-icon>
        </button>
        <button matTooltipShowDelay="1000" matTooltip="Reset" (click)="reset()" mat-icon-button>
            <mat-icon>laps</mat-icon>
        </button>
        @if (isBleAvailable) {
            @if (heartRateMonitorMode() !== "off") {
                <button
                    matTooltipShowDelay="1000"
                    [matTooltip]="
                        hrConnectionStatus().deviceName ??
                        (hrConnectionStatus().status === 'searching' ? 'Searching' : 'Connect HRM')
                    "
                    (click)="heartRateMonitorDiscovery()"
                    mat-icon-button
                >
                    <mat-icon [ngClass]="hrConnectionStatus().status === 'connecting' ? 'blink' : ''">{{
                        hrConnectionStatus().status === "disconnected" ? "favorite" : "ecg_heart"
                    }}</mat-icon>
                </button>
            }
            <button
                matTooltipShowDelay="1000"
                [matTooltip]="
                    ergConnectionStatus().deviceName ??
                    (ergConnectionStatus().status === 'searching' ? 'Searching' : 'Connect ESPRM')
                "
                (click)="ergoMonitorDiscovery()"
                mat-icon-button
            >
                <mat-icon [ngClass]="ergConnectionStatus().status === 'connecting' ? 'blink' : ''">{{
                    BleConnectionStatusIcons[ergConnectionStatus().status]
                }}</mat-icon>
            </button>
        }
        <span>{{
            ergConnectionStatus().status !== "connected"
                ? ""
                : BleServiceNames[BleServiceFlag[settings().bleServiceFlag]]
        }}</span>
    </div>
    <span class="time-of-day">
        {{ timeOfDay() | date: "HH:mm" }}
    </span>
    <span class="title">ESP Rowing Monitor</span>
</mat-toolbar>
