<div>
    <h2 mat-dialog-title>Log Book</h2>
    <app-dialog-close-button mat-dialog-close></app-dialog-close-button>
</div>
<div mat-dialog-content>
    <table
        mat-table
        [dataSource]="dataSource"
        [trackBy]="trackBySessionId"
        matSort
        matSortStart="desc"
        matSortDirection="desc"
        matSortActive="sessionId"
    >
        <ng-container matColumnDef="sessionId">
            <mat-header-cell justify="center" mat-sort-header *matHeaderCellDef class="date"
                >Date</mat-header-cell
            >
            <mat-cell *matCellDef="let sessionData" class="date flex-col justify-center items-start">
                <span>{{ sessionData.sessionId | date: "yyyy-MM-dd" }}</span>
                <span style="font-size: 0.75rem">{{ sessionData.sessionId | date: "HH:mm:ss" }}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="time">
            <mat-header-cell mat-sort-header *matHeaderCellDef class="time">Time</mat-header-cell>
            <mat-cell *matCellDef="let sessionData" class="time">
                {{ (sessionData.finishTime - sessionData.startTime) / 1000 | secondsToTime: "pace" }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="distance">
            <mat-header-cell mat-sort-header *matHeaderCellDef class="distance">Distance (m)</mat-header-cell>
            <mat-cell *matCellDef="let sessionData" class="distance">
                {{ sessionData.distance / 100 }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="strokeCount">
            <mat-header-cell mat-sort-header *matHeaderCellDef class="stroke-count">Strokes</mat-header-cell>
            <mat-cell *matCellDef="let sessionData" class="stroke-count">
                {{ sessionData.strokeCount }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="deviceName">
            <mat-header-cell mat-sort-header *matHeaderCellDef class="device-name">Device</mat-header-cell>
            <mat-cell *matCellDef="let sessionData" class="device-name">
                {{ sessionData.deviceName ?? "Unknown" }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="actions justify-center">Actions</mat-header-cell>
            <mat-cell *matCellDef="let sessionData" class="actions justify-center">
                <button
                    [matMenuTriggerFor]="menu"
                    [matMenuTriggerData]="{ sessionId: sessionData.sessionId }"
                    mat-icon-button
                >
                    <mat-icon>download</mat-icon>
                </button>
                <button class="delete-button" (click)="deleteSession(sessionData.sessionId)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let sessionData; columns: displayedColumns"></mat-row>
    </table>
</div>

<div mat-dialog-actions align="start">
    <button mat-raised-button [disabled]="importExportProgress() !== undefined" (click)="export()">
        Export
    </button>
    <button mat-raised-button [disabled]="importExportProgress() !== undefined" (click)="fileInput.click()">
        Import
    </button>
    <input #fileInput hidden accept="application/json" type="file" id="file" (change)="import($event)" />
    @if (importExportProgress() !== undefined) {
        <mat-progress-bar [value]="importExportProgress()" mode="determinate" value="40"></mat-progress-bar>
    }
</div>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-sessionId="sessionId">
        <button mat-menu-item (click)="exportToJson(sessionId)">JSON</button>
        <button mat-menu-item (click)="exportToTcx(sessionId)">TCX (Strava)</button>
    </ng-template>
</mat-menu>
