<mat-toolbar>
    <div>
        <div>
            <mat-icon class="battery-level" [matTooltip]="batteryLevel() + '%'">{{
                batteryLevel() | batteryLevel
            }}</mat-icon>
        </div>
        <button matTooltip="Logbook" (click)="openLogbook()" mat-icon-button>
            <mat-icon>sports_score</mat-icon>
        </button>
        <button *ngIf="isBleAvailable" matTooltip="Settings" (click)="openSettings()" mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
        <button matTooltip="Reset" (click)="reset()" mat-icon-button>
            <mat-icon>laps</mat-icon>
        </button>
        @if (isBleAvailable) {
            @if (heartRateMonitorMode() !== "off") {
                <button
                    [matTooltip]="
                        hrConnectionStatus().deviceName ??
                        (hrConnectionStatus().status === 'searching' ? 'Searching' : 'Connect HRM')
                    "
                    (click)="heartRateMonitorDiscovery()"
                    mat-icon-button
                >
                    <mat-icon [ngClass]="hrConnectionStatus().status === 'connecting' ? 'blink' : ''">{{
                        hrConnectionStatus().status === "disconnected" ? "favorite" : "ecg_heart"
                    }}</mat-icon>
                </button>
            }
            <button
                [matTooltip]="
                    ergConnectionStatus().deviceName ??
                    (ergConnectionStatus().status === 'searching' ? 'Searching' : 'Connect ESPRM')
                "
                (click)="ergoMonitorDiscovery()"
                mat-icon-button
            >
                <mat-icon [ngClass]="ergConnectionStatus().status === 'connecting' ? 'blink' : ''">{{
                    bleConnectionStatusIcons[ergConnectionStatus().status]
                }}</mat-icon>
            </button>
        }
        <span>{{
            settings().bleServiceFlag === BleServiceFlag.CpsService
                ? "Cycling Power"
                : "Cycling Speed and Cadence"
        }}</span>
    </div>
    <span class="time-of-day">
        {{ timeOfDay() | date: "HH:mm" }}
    </span>
    <span class="title">ESP Rowing Monitor</span>
</mat-toolbar>
