mat-toolbar {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: max-content 1fr max-content;
    font-size: 0.7em;
    > div:first-child {
        margin-left: -16px;
    }

    > div {
        display: flex;
        justify-content: center;
        align-items: center;

        > * {
            min-width: 48px;
            display: flex;
            justify-content: center;
        }
    }

    > .time-of-day {
        justify-self: center;
    }

    > .title {
        justify-self: self-end;
    }
}

@media screen and (max-height: 400px) {
    .mat-toolbar-row,
    .mat-toolbar-single-row {
        height: 48px;
    }
}
