.main-loading-spinner {
    margin: auto;
    z-index: 990;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1091;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: calc(100% - 80px);
    margin: 10px;
}
