<app-settings-bar
    [connectionStatus]="(isConnected$ | async) ?? false"
    [batteryLevel]="(batteryLevel$ | async) ?? 0"
    [bleServiceType]="(settingsData$ | async)?.bleServiceFlag ?? BleServiceFlag.CpsService"
    (buttonClicked)="handleAction($event)"
></app-settings-bar>
<div class="dashboard">
    <app-metric
        title="Distance"
        icon="distance"
        [value]="(((rowingData$ | async)?.distance ?? 0) / 100 | number: '0.0-0') ?? '--'"
        unit="m"
    ></app-metric>
    <app-metric
        title="Pace"
        icon="speed"
        [value]="500 / ((rowingData$ | async)?.speed ?? 0) | secondsToTime: 'pace'"
        unit="/500m"
    ></app-metric>
    <app-metric
        title="Power"
        icon="bolt"
        [value]="((rowingData$ | async)?.avgStrokePower ?? 0 | number: '0.0-0') ?? '--'"
        unit="watt"
    ></app-metric>
    <app-metric
        title="Stroke rate"
        icon="rowing"
        [value]="(rowingData$ | async)?.strokeRate ?? 0 | roundNumber"
        unit="stk/min"
    ></app-metric>
    <app-metric
        title="Timer"
        icon="timer"
        [value]="(elapseTime$ | async) ?? 0 | secondsToTime: 'pace'"
    ></app-metric>
    <app-force-curve [handleForces]="(rowingData$ | async)?.handleForces ?? []"></app-force-curve>
    <app-metric
        title="Distance per stroke"
        icon="route"
        [value]="((rowingData$ | async)?.distPerStroke ?? 0 | number: '0.0-1') ?? '--'"
        unit="m/stk"
    ></app-metric>
    <app-metric
        title="Total Strokes"
        unit="stk"
        [value]="(rowingData$ | async)?.strokeCount ?? 0"
    ></app-metric>
    <app-metric
        title="Drag Factor"
        [value]="(rowingData$ | async)?.dragFactor ?? 0 | roundNumber"
    ></app-metric>
    <app-metric
        title="Drive"
        [value]="(rowingData$ | async)?.driveDuration ?? 0 | roundNumber: 2"
        unit="sec"
    ></app-metric>
    <app-metric
        *ngIf="(heartRateData$ | async)?.contactDetected !== true"
        title="Recovery"
        [value]="(rowingData$ | async)?.recoveryDuration ?? 0 | roundNumber: 2"
        unit="sec"
    ></app-metric>
    <app-metric
        title="Heart rate"
        *ngIf="(heartRateData$ | async)?.contactDetected === true"
        icon="ecg_heart"
        [value]="
            ((heartRateData$ | async)?.contactDetected === true
                ? (heartRateData$ | async)?.heartRate ?? 0
                : 0
            ) | roundNumber
        "
        unit="bpm"
        ><mat-icon *ngIf="(heartRateData$ | async)?.batteryLevel as batteryLevel">{{
            batteryLevel | batteryLevel
        }}</mat-icon></app-metric
    >
</div>
