<div class="tab-content">
    <form [formGroup]="settingsForm" novalidate class="flex-col">
        <h4>General</h4>
        <div class="general-container">
            <label>Units:</label>
            <mat-button-toggle-group formControlName="unitSystem" hideSingleSelectionIndicator>
                <mat-button-toggle value="metric">Metric</mat-button-toggle>
                <mat-button-toggle value="imperial">Imperial</mat-button-toggle>
            </mat-button-toggle-group>
            <label>Orientation:</label>
            <mat-button-toggle-group
                [value]="orientationLock()"
                (change)="onOrientationLockChange($event.value)"
                hideSingleSelectionIndicator
            >
                <mat-button-toggle value="auto">Auto</mat-button-toggle>
                <mat-button-toggle value="landscape">Landscape</mat-button-toggle>
                <mat-button-toggle value="portrait">Portrait</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <mat-divider></mat-divider>
        <h4>Metrics Averaging</h4>
        <div class="general-container">
            <label>Mode:</label>
            <mat-button-toggle-group formControlName="averagingMode" hideSingleSelectionIndicator>
                <mat-button-toggle value="off">Off</mat-button-toggle>
                <mat-button-toggle value="performance" matTooltip="Speed, Power, Stroke Rate"
                    >Performance</mat-button-toggle
                >
                <mat-button-toggle value="all">All</mat-button-toggle>
            </mat-button-toggle-group>
            <label>Window size:</label>
            <mat-slider min="2" max="6" step="1" discrete [disabled]="isAveragingSliderDisabled()">
                <input matSliderThumb formControlName="averagingWindowSize" />
            </mat-slider>
        </div>
        <mat-divider></mat-divider>
        <h4>Dashboard Layout</h4>
        <app-tile-layout-editor
            [layout]="currentEditorLayout().tileLayout"
            [dndColumns]="currentEditorLayout().columns"
            [dndRows]="currentEditorLayout().rows"
            (layoutChange)="onLayoutChange($event)"
        ></app-tile-layout-editor>
        <div class="layout-actions">
            <button mat-stroked-button (click)="onResetLayout()">
                <mat-icon>restart_alt</mat-icon>
                Reset
            </button>
            <button mat-stroked-button (click)="onClearLayout()">
                <mat-icon>delete_sweep</mat-icon>
                Clear
            </button>
            @if (orientationLock() === "auto") {
                <mat-button-toggle-group
                    [value]="editorOrientationSelection()"
                    (change)="onEditOrientationChange($event.value)"
                    hideSingleSelectionIndicator
                >
                    <mat-button-toggle value="landscape">Landscape</mat-button-toggle>
                    <mat-button-toggle value="portrait">Portrait</mat-button-toggle>
                </mat-button-toggle-group>
            }
        </div>
        <mat-divider></mat-divider>
        <h4>Force Curve</h4>
        <mat-checkbox formControlName="showPeakForceInTitle">Show peak force in title</mat-checkbox>
        <mat-checkbox formControlName="showGridLines">Show grid lines</mat-checkbox>
        <mat-checkbox formControlName="showAxisLabels">Show axis labels</mat-checkbox>
    </form>
</div>
