<div class="tab-content">
    <form [formGroup]="settingsForm" novalidate class="flex-col">
        <h4>General</h4>
        <div class="units-container">
            <label>Units:</label>
            <mat-radio-group formControlName="unitSystem">
                <mat-radio-button value="metric">Metric</mat-radio-button>
                <mat-radio-button value="imperial">Imperial</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-divider></mat-divider>
        <h4>Dashboard Layout</h4>
        <app-tile-layout-editor
            [layout]="layout()"
            (layoutChange)="onLayoutChange($event)"
        ></app-tile-layout-editor>
        <div class="layout-actions">
            <button mat-stroked-button (click)="onResetLayout()">
                <mat-icon>restart_alt</mat-icon>
                Reset
            </button>
            <button mat-stroked-button (click)="onClearLayout()">
                <mat-icon>delete_sweep</mat-icon>
                Clear
            </button>
        </div>
        <mat-divider></mat-divider>
        <h4>Force Curve</h4>
        <mat-checkbox formControlName="showPeakForceInTitle">Show peak force in title</mat-checkbox>
        <mat-checkbox formControlName="showGridLines">Show grid lines</mat-checkbox>
        <mat-checkbox formControlName="showAxisLabels">Show axis labels</mat-checkbox>
    </form>
</div>
