form mat-slide-toggle {
    margin: 8px 0;
    display: block;
}

div.erg-info > span {
    flex: 1;
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 12px;
    font-style: italic;
    margin-right: 6px;
    min-height: 24px;
}

.rotating {
    display: inline-block;
    transform-box: fill-box;
    transform-origin: center;
    animation: spin 1s linear infinite;
    will-change: transform;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

mat-option {
    font-size: 16px;
}

.tab-content {
    padding-top: 16px;
    padding-bottom: 16px;
}

mat-form-field[subscriptSizing="dynamic"] {
    margin-bottom: 8px;
}

h4 {
    margin-top: 8px;
    margin-bottom: 0px;
}
