form mat-slide-toggle {
    margin: 8px 0;
    display: block;
}

div.erg-info > span {
    flex: 1;
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 12px;
    font-style: italic;
    margin-right: 6px;
    min-height: 24px;
}

mat-option {
    font-size: 16px;
}

h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}
