form {
    display: flex;
    flex-direction: column;

    mat-slide-toggle {
        margin: 8px 0;
        display: block;
    }
}

div[versionInfo] {
    align-items: center;
}

mat-option {
    font-size: 16px;
}

h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}
