h1.mdc-dialog__title {
    font-size: 1em;
    padding-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;

    mat-slide-toggle {
        margin: 8px 0;
        display: block;
    }
}

div[versionInfo] {
    min-height: 40px;
    align-items: center;
}

mat-option {
    font-size: 16px;
}
