html,
body {
    height: 100vh;
}
body {
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    app-root {
        font-size: calc(16px + (50 - 16) * ((100vw - 300px) / (1920 - 300)));

        @media screen and (max-height: 499px) {
            font-size: calc(16px + (40 - 16) * ((100vw - 300px) / (1920 - 300)));
        }
    }
}

*:focus {
    outline: none !important;
}

.text-overflow {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.text-overflow-rtl {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
}

/* Override Mat defaults */
.mdc-card {
    border-radius: unset !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.mdc-button,
.mdc-flat-button,
.mdc-stroked-button,
.mdc-raised-button {
    border-radius: 0px !important;
}

.mat-select-panel,
.mat-menu-panel,
.mat-snack-bar-container,
.mat-tooltip,
.mat-autocomplete-panel {
    border-radius: 0px !important;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
    background: #000;
    opacity: 0.4 !important;
}

.dynamic-mdc-form-field-width .mat-mdc-form-field-infix {
    width: unset;
}

mat-dialog-container.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 0px;

    @media screen and (max-height: 399px), screen and (max-width: 599px) {
        padding: 12px;

        .mat-dialog-content {
            margin: 0 -12px;
            padding: 0 12px;
        }

        .mat-dialog-actions {
            margin-bottom: 0px;
        }
    }
}

[versionInfo] {
    display: flex;

    > span {
        user-select: none;
        font-size: 12px;
        font-style: italic;
        margin-right: 6px;
    }

    .small-icon-button {
        width: 24px !important;
        height: 24px !important;
        padding: 0px !important;
        display: inline-flex !important;
        align-items: center;
        justify-content: center;

        & > *[role="img"] {
            width: 16px;
            height: 16px;
            font-size: 16px;

            svg {
                width: 16px;
                height: 16px;
            }
        }

        .mat-mdc-button-touch-target {
            width: 24px !important;
            height: 24px !important;
        }
    }
}

/*Wrapper - Scroller*/
::-webkit-scrollbar {
    width: 12px;
    height: 12px;

    @media screen and (max-width: 599px) {
        width: 8px !important;
    }
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    min-height: 50px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
