@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@include mat.core();

$mat-primary: (
    50: #e3f2fd,
    100: #bbdefb,
    200: #90caf9,
    300: #64b5f6,
    400: #42a5f5,
    500: #1f77b4,
    600: #1e88e5,
    700: #1976d2,
    800: #1565c0,
    900: #0d47a1,
    A100: #82b1ff,
    A200: #448aff,
    A400: #2979ff,
    A700: #2962ff,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(white, 0.87),
        600: rgba(white, 0.87),
        700: rgba(white, 0.87),
        800: rgba(white, 0.87),
        900: rgba(white, 0.87),
        A100: rgba(black, 0.87),
        A200: rgba(white, 0.87),
        A400: rgba(white, 0.87),
        A700: rgba(white, 0.87),
    ),
);

$mat-dark-red: (
    50: #f8e6e0,
    100: #edc1b3,
    200: #e29880,
    300: #d66f4d,
    400: #cd5026,
    500: #c43100,
    600: #be2c00,
    700: #b62500,
    800: #af1f00,
    900: #a21300,
    A100: #ffcfcc,
    A200: #ff9f99,
    A400: #ff6f66,
    A700: #ff574d,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(white, 0.87),
        600: rgba(white, 0.87),
        700: rgba(white, 0.87),
        800: rgba(white, 0.87),
        900: rgba(white, 0.87),
        A100: rgba(black, 0.87),
        A200: rgba(white, 0.87),
        A400: rgba(white, 0.87),
        A700: rgba(white, 0.87),
    ),
);

$my-app-primary: mat.define-palette($mat-primary);
$my-app-accent: mat.define-palette(mat.$green-palette);
$my-app-warn: mat.define-palette($mat-dark-red);

$my-app-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-app-primary,
            accent: $my-app-accent,
            warn: $my-app-warn,
        ),
    )
);

@include mat.all-component-themes($my-app-theme);
