@use "@angular/material" as mat;

table {
    width: 100%;

    .date {
        min-width: 115px;
    }

    .distance {
        min-width: 135px;
    }

    .actions {
        min-width: 170px;
    }
}

mat-progress-bar {
    margin-top: 8px;
}

.delete-button {
    @include mat.icon-button-overrides(
        (
            icon-color: var(--mat-sys-tertiary),
        )
    );
}
