@if (isBleAvailable) {
    @if (heartRateMonitorMode() !== "off") {
        <button
            matTooltipShowDelay="1000"
            [matTooltip]="
                hrConnectionStatus().deviceName ??
                (hrConnectionStatus().status === 'searching' ? 'Searching' : 'Connect HRM')
            "
            (click)="heartRateMonitorDiscovery()"
            mat-icon-button
        >
            <mat-icon [class]="hrConnectionStatus().status === 'connecting' ? 'blink' : ''">{{
                hrConnectionStatus().status === "disconnected" ? "favorite" : "ecg_heart"
            }}</mat-icon>
        </button>
    }
}
