<h1 mat-dialog-title>Update in progress</h1>
<div mat-dialog-content>
    <p>Please do not navigate away from this page and do not restart the device</p>
    <mat-progress-bar
        [mode]="progress() === 0 || data.firmwareSize === progress() ? 'indeterminate' : 'determinate'"
        [value]="(progress() / data.firmwareSize) * 100"
    ></mat-progress-bar>
    <div class="flex-row items-center justify-space-between gap-8">
        <span
            >ETA:
            @if (uploadSpeed() > 0 && data.firmwareSize !== progress()) {
                {{ (data.firmwareSize - progress()) / uploadSpeed() | secondsToTime: "verbose" }}
            } @else {
                {{ UpdateState[updateState()] }}
            }
        </span>
        <span>{{ progress() | number: "0.1-1" }}/{{ data.firmwareSize | byte }}</span>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelUpdate()">Cancel</button>
</div>
